* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 70px auto;
    max-width: 1920px;
}

input {
    height: 30px;
    padding: 0px 8px;
    border-radius: 5px;
    border-width: 1px;
    min-width: 90%;
}

label {
    margin-top: 5px;
    margin-right: 5px;
}

select {
    height: 30px;
    padding: 0px 8px;
    border-radius: 5px;
    border-width: 1px;
    min-width: 90%;
    margin-left: 5px;
}

.btn {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin: 5px 10px;
    width: 100px;
}

.btn-close {
    background-color: gray;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    margin-top: 50px;
    padding-top: 20px;
}

/*The navigation menu links */
.sidenav a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}