.cocktail-row {
    margin-top: 20px;
}

.card {
    margin: 0 35px 25px 0!important;
}

.container {
    margin-top: 100px!important;
}

.panel {
    border: 2px solid black;
    padding: 20px;
    margin: auto;
}

.panel-body {
    text-align: center;
}